.menu-item[b-7suusadvh4] {
    position: relative;
    cursor: pointer;
}

.sub-menu[b-7suusadvh4] {
    min-width: 200px;
    width: fit-content;
    background-color: var(--submenu-bg-color);
    border: 1px solid var(--submenu-border);
    box-shadow: 0 2px 4px var( --submenu-shadow);
    z-index: 1000;
}

.item-content[b-7suusadvh4] {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--item-text);
    background-color: var(--item-bg-color);
    transition: background-color 0.2s;
}

.menu-item > .item-content:has(+ .shown)[b-7suusadvh4] {
    color: var(--item-text-hover);
}

.item-content:hover[b-7suusadvh4] {
    color: var(--item-text-hover);
    background-color: var(--item-bg-hover);
}

.arrow[b-7suusadvh4] {
    color: var(--arrow-color);
    margin-left: auto;
}

.hidden[b-7suusadvh4] {
    display: none;
}

.shown[b-7suusadvh4] {
    display: block;
}

.content-left[b-7suusadvh4] {
    position: absolute;
    top: 0;
    left: 100%;
}

.content-top[b-7suusadvh4] {
    position: absolute;
    top: 100%;
    left: 0;
}